{% extends "benefits/layout.html" %}

{% block class %}
<style>
    .searchterms {
        display: inline-block;
        border: 1px black;
        padding: 2px;
        background: #256bdb;
        font-family: sans-serif;
        color: white;
        text-align: center;
    }
</style>
{% endblock %}

{% block body %}

<h2>Search Results</h2>

<b>Search Terms: </b>
{% for searchWord in searchList %}
<span class="searchterms">{{searchWord}}</span>
{% endfor %}

<hr>

{% for result in results_list %}
<ul><a href="/viewlisting/{{result.id}}"><b>{{ result.title }}</b></a><br>
    {{ result.description }}
</ul>
{% endfor %}

{% endblock %}